body{
    background: #9da4ed;
    font: normal 15pt Arial;
    margin: 0;
}
header{
    color: rgb(244, 237, 237);
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding:15px;
    width: 500px;
    margin: auto;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.264);
    text-align: center ;
}
.circulo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin:  30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fefeff;
    border: 10px solid #825cce;
}
#tempo{
    font-size: 45pt;
    font-weight: bold;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;

}